<h1>Note: <%= @note.name %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @note.content %>
</p>

<p>
  <b>Name:</b>
  <%= @note.name %>
</p>

<p>
  <b>Notepad:</b>
  <%= @note.notepad_id %>
</p>


<%= link_to 'Edit', edit_note_path(@note) %> |
<%= link_to 'Back', notepad_notes_path(@note.notepad_id) %>
