<h1>Notepad: <%= @notepad.name %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @notepad.name %>
</p>

<p>
  <b>User:</b>
  <%= @notepad.user_id %>
</p>

<%= render file: '/notes/index' %>

<br><br>

<%= link_to 'Edit', edit_notepad_path(@notepad) %> |
<%= link_to 'Back', user_notepads_path(@notepad.user_id) %>
