<h1>State: <%= @state.name %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  
</p>

<p>
  <b>Country:</b>
  <%= @state.country.name %>
</p>

<%= render file: '/cities/index' %>

<br><br>

<%= link_to 'Edit', edit_state_path(@state) %> |
<%= link_to 'Back', country_states_path(@state.country_id) %>
