<h1>Nested Resources Demo</h1>

<b>Site Pages</b>
<ul>
	<li><%= link_to 'About', about_path %></li>
	<li><%= link_to 'Help', help_path %></li>
	<li><%= link_to 'Contact', contact_path %></li>
</ul>

<b>Hierarchies</b>
<ul>
	<li><%= link_to 'User', users_path %> > Notepad > Note</li>
	<li><%= link_to 'Country', countries_path %> > State > City (Common Information)</li>
</ul>

