<h1>Country: <%= @country.name %></h1>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @country.name %>
</p>

<%= render file: '/states/index' %>

<%= render file: '/cities/index' %>

<br><br>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
